body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
}

.dark-mode .navbar, .dark-mode .footer, .dark-mode .modal-content {
    background-color: #495057;
    color: #f8f9fa;
}

.navbar-light .navbar-brand img {
    width: 50px;
}

button:focus {
    outline: none;
}

.calculator-form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
    background-color: #fff;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}