/* bond.css */
body {
    background-color: #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #ffffff;
}

.navbar h1 {
    color: #000;
}

.card {
    border-radius: 10px;
}

input.form-control, select.form-select {
    background-color: #2c2c2c;
    color: #ffffff;
}

input.form-control::placeholder, select.form-select {
    color: #999999;
}

button.btn-dark {
    background-color: #333333;
}

footer {
    background-color: #343a40;
    color: #ffffff;
}